# Logs and temp files
*.log

# Environment
.env
.env.local
*.env.*

# Dependencies
node_modules/

# Editors
.vscode/

# Database related
database/*.sql

# Web server files
public/*.php
public/includes/*.php